/* import de la fuente de google font */
@import url("https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  /* colores principales */
  --blanco: #fff;
  --negro: #000;
  /* tamaño de texto */
  --tamanio-texto: 1.25;
  /* box shadow */
  /* --box-shadow: 12px 9px 12px -4px rgba(0, 0, 0, 0.55); */
  --box-shadow: 0 0 20px #0000008f;
  /* border-radius */
  --border-radius: 15px;
}

/* === GENERAL === */
body {
  font-family: "Bellota", cursive;
  background: url(../img/fondo.png);
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}
a {
  text-decoration: none;
}

.logo {
  width: 3em;
}
video {
  width: 100%;
  height: auto;
}

.menu {
  background-color: var(--blanco);
}

.owl-nav {
  position: absolute;
  top: calc(100% - 50%);
}

footer {
  background-color: var(--blanco);
}
/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

.btn-primary {
  background-color: var(--negro);
  border-color: var(--negro);
}

.fa-brands:hover {
  color: var(--negro);
}

/* === GENERAL === */

/* === HOME === */

.cajaGeneral {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: var(--blanco);
}

.cajaCarousel {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.owl-item {
  height: 35em;
}

.item {
  height: 100%;
}

.principal {
  background: url(../img/cabecera.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.principal div {
  background: rgba(6, 6, 6, 0.2);
  overflow: hidden;
  height: 100%;
  z-index: 1;
}

.principalBebidas {
  background: url(../img/bebidas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--blanco);
}

.principalBebidas div {
  background: rgba(6, 6, 6, 0.54);
  overflow: hidden;
  height: 100%;
  z-index: 1;
}

#img-carousel {
  width: 20em;
  height: 20em;
}

.informacion {
  height: 20em;
  align-items: center;
  display: flex;
  justify-content: center;
}

.informacion_bg {
  background: url(../img/question_bg.png);
  animation: scrollBg 25s linear both;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.cajaInformacion {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blanco);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  width: 40em;
  height: 10em;
}

/* PAG CARTA */
.cabeceraCarta {
  height: 32.3em;
  background: url(../img/carta_cebecera.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--blanco);
}

.cabeceraCarta .row {
  background: rgba(6, 6, 6, 0.72);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.cabeceraContacto {
  height: 32.3em;
  background: url(../img/contacto_cabecera.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--blanco);
}

.cabeceraContacto .row {
  background: rgba(6, 6, 6, 0.72);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.filaCajas {
  display: flex;
  justify-content: center;
}

.rrss {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.card {
  margin: 1em 0;
}

/* animation */

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

/* === CARNE === */
.cabeceraCarne {
  height: 32.3em;
  background: url(../img/carne.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--blanco);
}

.cabeceraCarne .row {
  background: rgba(6, 6, 6, 0.72);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

/* === PESCADO === */
.cabeceraPescado {
  height: 32.3em;
  background: url(../img/pescado.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--blanco);
}

.cabeceraPescado .row {
  background: rgba(6, 6, 6, 0.72);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

/* === AVES === */

.cabeceraAves {
  height: 32.3em;
  background: url(../img/ave.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--blanco);
}

.cabeceraAves .row {
  background: rgba(6, 6, 6, 0.72);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

/* === VEGANO === */

.cabeceraVegano {
  height: 32.3em;
  background: url(../img/vegano.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--blanco);
}

.cabeceraVegano .row {
  background: rgba(6, 6, 6, 0.72);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

/* === BEBIDAS === */

.cabeceraBebidas {
  height: 32.3em;
  background: url(../img/bebidas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--blanco);
}

.cabeceraBebidas .row {
  background: rgba(6, 6, 6, 0.72);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.listaMenu {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.listaMenu li {
  margin-bottom: 1em;
}
.listaMenu li:last-child {
  margin-bottom: 0;
}

.menuCartaTitulo {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  padding-right: 5px;
}

.lineaDePuntos {
  height: 3px;
  border-bottom: 1px dotted #828383;
  display: table-cell;
  width: 98%;
  z-index: 1;
  position: relative;
  bottom: 6px;
}

.precioMenuCarta {
  display: table-cell;
  width: 1%;
  padding-left: 7px;
  white-space: nowrap;
}

/* === keyframes === */

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

@keyframes scrollBg {
  from {
    background-position: 0 100px;
  }
  to {
    background-position: right;
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* === media query === */

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1400px) {
}
/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
}
/* // Medium devices (tablets, less than 992px) */
@media (max-width: 993px) {
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 769px) {
  .menuCartaTitulo {
    width: 80%;
    white-space: normal;
  }
  .lineaDePuntos {
    bottom: 35px;
  }
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 600px) {
  .cajaInformacion {
    width: 20em;
    height: 10em;
  }
  .owl-item {
    height: 30em;
  }

  #img-carousel {
    width: 15em;
    height: 15em;
  }
  .lineaDePuntos {
    display: none;
  }
  .menuCartaTitulo {
    width: 80%;
    white-space: normal;
  }
  .listaMenu li {
    border-bottom: 1px solid black;
  }
}
@media (max-width: 325px) {
  .cajaInformacion {
    width: 17em;
    height: 10em;
  }
}
